.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    background-color: #F5F8FF;
}

/* Banner Styles */
.header{
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    align-items: center;
}

.banner{
    margin: 0;
    padding: 0;
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 698px;
}

.logo{
    font-size: 34px;
    color: #4E47FF;
    font-weight: 900;
}

.sign-up{
    background-color: #4E47FF;
    color: #FFFFFF;
    height: 48px;
    width: 132px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
.sign-up:hover{
    background-color: orange;
}
.template{
    font-size: 65px;
    font-weight: bold;
    height: 152px;
    width: 905px;
    display: block;
    margin: 152px auto;
    text-align: center;
}

/* main section */
main{
    margin: 116px 159px 116px 141px;
    justify-content: space-between;

}
.main-section{
    display: flex;
    justify-content: space-between;
}
.action{
    height: 203px;
    width: 517px;
}

.action h2{
    height: 49px;
    width: 517px;
    font-size: 42px;
    font-weight: bold;
}
.action p{
    font-size: 24px;
    color: #252432;
}
.product-main{
    background-color: #4E47FF1A;
    height: 306px;
    width: auto;
    margin: 116px 0px 137px 0px;
    padding: 50px 142px;
    border-radius: 24px;
    
    
}
.product-title{
    color: #252432;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}

.product-users{
    display: flex;
    justify-content: space-around;
    padding: 85px auto 50px;
}

.users-number{
    /* margin-top: 40px; */
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
}
.description{
    color: #0000005A;
    font-size: 20px;
}
/* feddback style */
.feedback-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}

 .feedback-container{
    display: flex;
    justify-content: space-between;
 }

.container-element{
    border-radius: 14px;
    padding: 24px;
    height: 243px;
    width: 366.67px;
    background-color: rgba(255, 255, 255, 0.5);
}

.container-title{
    font-size: 24;
    font-weight: 600;
}
.cotainer-description{
    width: 318.67px;
    height: 44px;
    font-size: 16px;
}

.avatar{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-bottom: 4px;
}

.reviewer{
    display: flex;
    align-items: center;
    gap: 12px;
}
.name-date{
    justify-content: space-around;
}
.name-date h2{
    color: #757575;
    font-size: 16px;
    font-weight: 600;
}
.name-date p{
    color: #B3B3B3;
    font-size: 16px;
}

/* ready styles */
.ready{
    height: 696.77px;
    width: auto;
    background-color: #FFFFFF;
    border-radius: 14px;
    text-align: center;
    padding: 71px 150px;
    margin-top: 137px;
}

.ready-title{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}

.ready-description{
    font-size: 16px;
}

/* form styles */
.form-section{
    display: flex;
    justify-content: space-between;
    margin-top: 92.23px;
    margin-bottom: 14px;
}
.form-title{
    font-size: 97px;
    font-weight: bold;
    height: 232px;
    width: 528px;
    position: relative;
    margin: auto 0;
}
.form{
    padding: 71px 0px;
}
.label{
    font-size: 18px;
    font-weight: 500;
}
.input{
    font-size: 20px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 20px 32px;
    box-shadow: 0 0 5px #D6DDED;
}
.form-btn{
    background-color: #4E47FF;
    color: #FFFFFF;
    width: 100%; 
    height: 62px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.form-btn:hover{
    background-color: orange;
}



